n8n-blog-publisher-workflow.json
{
  "name": "Blog Publisher – Scholz Cloud",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "days", "daysInterval": 3 }]
        }
      },
      "name": "Alle 3 Tage",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://trends.google.com/trending/rss?geo=DE",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "User-Agent", "value": "Mozilla/5.0 (compatible; RSS-Reader/1.0)" },
            { "name": "Accept", "value": "application/rss+xml, application/xml, text/xml" }
          ]
        },
        "options": {
          "response": {
            "response": { "responseFormat": "text" }
          }
        }
      },
      "name": "Google Trends DE",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [480, 60]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://news.google.com/rss/search?q=KI+K%C3%BCnstliche+Intelligenz+AI+LLM+ChatGPT+Sprachmodell+Gemini+Claude&hl=de&gl=DE&ceid=DE:de",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "User-Agent", "value": "Mozilla/5.0 (compatible; RSS-Reader/1.0)" },
            { "name": "Accept", "value": "application/rss+xml, application/xml, text/xml" }
          ]
        },
        "options": {
          "response": {
            "response": { "responseFormat": "text" }
          }
        }
      },
      "name": "Google News – KI & AI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [480, 180]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://news.google.com/rss/search?q=Cybersecurity+Datenleck+Darknet+Hacker+IT-Sicherheit+Zero-Day+Datenschutz+Tech+Software&hl=de&gl=DE&ceid=DE:de",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "User-Agent", "value": "Mozilla/5.0 (compatible; RSS-Reader/1.0)" },
            { "name": "Accept", "value": "application/rss+xml, application/xml, text/xml" }
          ]
        },
        "options": {
          "response": {
            "response": { "responseFormat": "text" }
          }
        }
      },
      "name": "Google News – IT & Nischen",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [480, 420]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://hn.algolia.com/api/v1/search?tags=front_page&hitsPerPage=15",
        "options": {
          "response": {
            "response": { "responseFormat": "text" }
          }
        }
      },
      "name": "Hacker News Top Stories",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [480, 540]
    },
    {
      "parameters": {
        "mode": "append"
      },
      "name": "RSS Feeds zusammenführen",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [720, 300]
    },
    {
      "parameters": {
        "jsCode": "// Alle Feeds parsen (Google Trends RSS, Google News RSS ×2, Hacker News JSON)\nconst allItems = [];\nconst inputs = $input.all();\n\n// Hilfsfunktion: XML-Tag-Inhalt extrahieren + CDATA/HTML bereinigen\nconst getTag = (block, tag) => {\n  const open = '<' + tag + '>';\n  const close = '</' + tag + '>';\n  const s = block.indexOf(open);\n  const e = block.indexOf(close);\n  if (s === -1 || e === -1) return '';\n  let val = block.substring(s + open.length, e);\n  if (val.indexOf('CDATA[') !== -1) {\n    const cdataStart = val.indexOf('CDATA[') + 6;\n    const cdataEnd = val.lastIndexOf(']]>');\n    val = cdataEnd !== -1 ? val.substring(cdataStart, cdataEnd) : val.substring(cdataStart);\n  }\n  return val.replace(/<[^>]+>/g, '').replace(/&amp;/g, '&').replace(/&lt;/g, '<').replace(/&gt;/g, '>').trim();\n};\n\n// Reihenfolge der Inputs entspricht der Verbindungsreihenfolge:\n// 0 = Google Trends DE (RSS), 1 = Google News KI/AI (RSS), 2 = Google News IT/Nischen (RSS), 3 = Hacker News (JSON)\ninputs.forEach((input, feedIndex) => {\n  const rawData = String(input.json.data || input.json.body || '');\n\n  if (feedIndex === 3) {\n    // Hacker News – JSON-Antwort (Algolia API)\n    let hn;\n    try { hn = JSON.parse(rawData); } catch (e) { return; }\n    const hits = Array.isArray(hn.hits) ? hn.hits : [];\n    hits.slice(0, 12).forEach(hit => {\n      if (!hit.title) return;\n      allItems.push({\n        category: 'Hacker News / Tech International',\n        title: String(hit.title).substring(0, 150),\n        description: (hit.points || 0) + ' Punkte · ' + (hit.num_comments || 0) + ' Kommentare',\n        link: hit.url || ('https://news.ycombinator.com/item?id=' + hit.objectID),\n        pubDate: hit.created_at || ''\n      });\n    });\n  } else if (feedIndex === 0) {\n    // Google Trends DE – Trending Searches RSS\n    const rawItems = rawData.split('<item>').slice(1, 14);\n    rawItems.forEach(block => {\n      const title = getTag(block, 'title').substring(0, 150);\n      // Zugehörige News zum Trending-Topic extrahieren\n      const relatedMatch = block.match(/<ht:news_item_title>([^<]+)<\\/ht:news_item_title>/);\n      const relatedSnippet = block.match(/<ht:news_item_snippet>([^<]+)<\\/ht:news_item_snippet>/);\n      let desc = '';\n      if (relatedMatch) desc = relatedMatch[1].trim();\n      if (relatedSnippet) desc += ' – ' + relatedSnippet[1].trim();\n      if (!desc) desc = getTag(block, 'description').substring(0, 300);\n      const link = getTag(block, 'link');\n      const date = getTag(block, 'pubDate');\n      if (title.length > 3) {\n        allItems.push({ category: 'Google Trends DE', title, description: desc.substring(0, 300), link, pubDate: date });\n      }\n    });\n  } else {\n    // Google News – RSS XML (index 1: KI/AI, index 2: IT/Nischen)\n    const category = feedIndex === 1 ? 'KI/AI' : 'IT/Tech/Nischen';\n    const rawItems = rawData.split('<item>').slice(1, 14);\n    rawItems.forEach(block => {\n      const title = getTag(block, 'title').substring(0, 150);\n      const desc = getTag(block, 'description').substring(0, 300);\n      const link = getTag(block, 'link');\n      const date = getTag(block, 'pubDate');\n      if (title.length > 10) {\n        allItems.push({ category, title, description: desc, link, pubDate: date });\n      }\n    });\n  }\n});\n\nconst feedText = allItems.map((i, idx) =>\n  '[' + i.category + ' #' + (idx + 1) + '] ' + i.title +\n  (i.description ? '\\nInhalt: ' + i.description : '') +\n  '\\nURL: ' + i.link +\n  '\\nDatum: ' + i.pubDate\n).join('\\n\\n---\\n\\n');\n\nif (allItems.length < 3) {\n  throw new Error('Zu wenige Artikel gefunden: ' + allItems.length + '. Bitte Feeds prüfen.');\n}\n\nreturn [{ json: { feedText, itemCount: allItems.length, fetchedAt: new Date().toISOString() } }];"
      },
      "name": "RSS Artikel extrahieren",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [960, 300]
    },
    {
      "parameters": {
        "resource": "chat",
        "operation": "create",
        "model": "claude-haiku-4-5-20251001",
        "messages": {
          "values": [
            {
              "role": "user",
              "content": "=Du analysierst aktuelle News-Feeds (Google Trends Deutschland, Google News KI/AI, Google News IT/Tech/Nischen, Hacker News) und wählst die 3 besten Blog-Themen für scholz-cloud.de (IT-Automatisierung, KI, Infrastruktur – Zielgruppe: IT-Fachleute und Entscheider im deutschsprachigen Raum).\n\nAktuelle News-Artikel:\n{{ $json.feedText }}\n\nAUFGABE – Wähle exakt 3 Themen:\n- rank 0: Das HEISSESTE / aktuell brisanteste Thema (z.B. kritische Sicherheitslücke, bahnbrechende KI-News, großes Datenleck, wichtige Regulierung, viraler Tech-Trend)\n- rank 1: Ein weiteres relevantes Thema aus IT, Cybersecurity, Tech oder Wirtschaft\n- rank 2: Ein drittes Thema – auch Nischen-Themen (Darknet, Leaks, kontroverse Tech-Trends, internationale Entwicklungen) sind willkommen\n\nWICHTIG: Wähle NUR Themen, zu denen konkrete Fakten in den bereitgestellten News vorhanden sind. Keine Spekulation, keine veralteten Themen.\n\nAntworte AUSSCHLIESSLICH mit folgendem JSON (kein Text davor oder danach):\n{\n  \"topics\": [\n    {\n      \"rank\": 0,\n      \"topic\": \"Prägnanter Titel des Blog-Posts (DE)\",\n      \"summary\": \"Faktische Zusammenfassung in 4-5 Sätzen mit konkreten Details, Zahlen und Namen aus den News\",\n      \"sources\": [\"https://...\", \"https://...\"],\n      \"category\": \"KI|Cybersecurity|IT|Tech|Wirtschaft|Darknet\",\n      \"seo_keywords\": [\"keyword1\", \"keyword2\", \"keyword3\", \"keyword4\", \"keyword5\"]\n    },\n    { \"rank\": 1, \"topic\": \"...\", \"summary\": \"...\", \"sources\": [], \"category\": \"...\", \"seo_keywords\": [] },\n    { \"rank\": 2, \"topic\": \"...\", \"summary\": \"...\", \"sources\": [], \"category\": \"...\", \"seo_keywords\": [] }\n  ]\n}"
            }
          ]
        },
        "options": {
          "maxTokens": 1500,
          "temperature": 0.2
        }
      },
      "name": "Claude – Top 3 Themen auswählen",
      "type": "n8n-nodes-base.anthropic",
      "typeVersion": 1,
      "position": [1200, 300],
      "credentials": {
        "anthropicApi": { "name": "Anthropic API" }
      }
    },
    {
      "parameters": {
        "jsCode": "// Claude-Antwort parsen → 3 separate Items ausgeben\nconst raw = $input.first().json.content[0].text.trim();\n\nlet parsed;\ntry {\n  // JSON aus möglichem Markdown-Block extrahieren\n  const jsonMatch = raw.match(/```(?:json)?\\s*([\\s\\S]*?)```/) || raw.match(/(\\{[\\s\\S]*\\})/);\n  const jsonStr = jsonMatch ? jsonMatch[1].trim() : raw;\n  parsed = JSON.parse(jsonStr);\n} catch (e) {\n  throw new Error('Claude hat kein gültiges JSON geliefert. Antwort: ' + raw.substring(0, 300) + ' | Fehler: ' + e.message);\n}\n\nconst topics = parsed.topics;\nif (!Array.isArray(topics) || topics.length !== 3) {\n  throw new Error('Erwartet: 3 Themen, erhalten: ' + JSON.stringify(topics).substring(0, 200));\n}\n\n// Jedes Thema als eigenes n8n-Item zurückgeben\nreturn topics.map(t => ({\n  json: {\n    rank: t.rank,\n    topic: t.topic,\n    summary: t.summary,\n    sources: Array.isArray(t.sources) ? t.sources.join('\\n') : String(t.sources || ''),\n    category: t.category,\n    seo_keywords: Array.isArray(t.seo_keywords) ? t.seo_keywords.join(', ') : String(t.seo_keywords || ''),\n    today: new Date().toISOString().split('T')[0]\n  }\n}));"
      },
      "name": "Themen in Items aufteilen",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1440, 300]
    },
    {
      "parameters": {
        "jsCode": "// OpenAI-Request-Body als String aufbauen (läuft 3× automatisch für jeden Topic)\nconst systemPrompt = 'Du bist ein erfahrener IT/Tech-Journalist und SEO-Spezialist. Du schreibst faktenbasierte, technisch fundierte Artikel für ein Fachpublikum (IT-Professionals, Entscheider, Administratoren).\\n\\nDEINE ARBEITSWEISE:\\n- Die bereitgestellten News-Fakten sind dein Anker für das aktuelle Ereignis (konkrete Daten, Namen, Zahlen daraus direkt übernehmen)\\n- Ergänze frei mit deinem Fachwissen: technischer Kontext, Hintergründe, historische Einordnung, Branchenanalyse – so entsteht ein tiefer, wertvoller Artikel statt einer reinen News-Zusammenfassung\\n- Schreibe ausführlich, präzise und für Fachleute verständlich\\n\\nGRENZE: Erfinde KEINE spezifischen aktuellen Ereignisse, Statistiken oder Zitate, die weder in den bereitgestellten Fakten noch in gesichertem Trainingswissen vorhanden sind.';\n\nconst userPrompt = 'Schreibe einen SEO-optimierten Artikel für scholz-cloud.de.\\n\\nThema: ' + $json.topic + '\\n\\nAktuelle Fakten aus News-Quellen:\\n' + $json.summary + '\\n\\nQuellenlinks:\\n' + $json.sources + '\\n\\nSEO-Keywords (organisch einbauen): ' + $json.seo_keywords + '\\n\\nFormat-Anforderungen:\\n- Länge: 900–1100 Wörter\\n- Hauptkeyword im H1-Titel und in mindestens einem H2\\n- Natürliche Keyword-Dichte (3–5×), kein Keyword-Stuffing\\n- Struktur: ## und ### Überschriften\\n- Einstieg: Was ist passiert? (aktueller Anlass, Datum wenn bekannt)\\n- Mittelteil: Kontext, technische Hintergründe, Bedeutung für IT/Tech-Leser\\n- Schluss: Fazit + konkreter Ausblick\\n- Am Ende ein Abschnitt ## Quellen mit den bereitgestellten Links\\n- Keine werblichen Formulierungen, keine Spekulation\\n- Tonalität: professionell, direkt, technisch präzise\\n\\nPublikationsdatum für Frontmatter: ' + $json.today + '\\n\\nAntworte NUR mit dem Markdown-Dokument (kein Text davor/danach):\\n\\n---\\ntitle: \"[Hauptkeyword im Titel]\"\\ntitleEn: \"[Englische Übersetzung des Titels]\"\\ndescription: \"[Meta-Description DE, 130–155 Zeichen, Hauptkeyword enthalten]\"\\ndescriptionEn: \"[Meta-Description EN, 130–155 chars]\"\\npubDate: ' + $json.today + '\\ntags: [\"tag1\", \"tag2\", \"tag3\", \"tag4\"]\\n---\\n\\n[Artikelinhalt ab hier]';\n\nconst requestBody = JSON.stringify({\n  model: 'gpt-4o-mini',\n  messages: [\n    { role: 'system', content: systemPrompt },\n    { role: 'user', content: userPrompt }\n  ],\n  temperature: 0.3,\n  max_tokens: 2200\n});\n\nreturn [{ json: { ...$json, requestBody } }];"
      },
      "name": "OpenAI Prompt vorbereiten",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1680, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json.requestBody }}",
        "options": {
          "timeout": 60000
        }
      },
      "name": "OpenAI – Artikel verfassen",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1920, 300],
      "credentials": {
        "httpHeaderAuth": { "name": "OpenAI API Key" }
      }
    },
    {
      "parameters": {
        "jsCode": "// OpenAI-Antwort parsen, Markdown aufbereiten, Slug generieren\nconst response = $input.first().json;\n\nif (!response.choices || !response.choices[0]) {\n  throw new Error('OpenAI Fehler: ' + JSON.stringify(response).substring(0, 300));\n}\n\nconst raw = response.choices[0].message.content.trim();\n\n// Markdown aus Code-Block extrahieren falls vorhanden\nlet markdown = raw;\nconst fenceMatch = raw.match(/```(?:markdown)?\\n?([\\s\\S]+?)\\n?```/);\nif (fenceMatch) markdown = fenceMatch[1].trim();\n\n// Frontmatter-Felder lesen\nconst titleMatch = markdown.match(/^title:\\s*\"([^\"]+)\"/m);\nconst title = titleMatch ? titleMatch[1] : 'tech-blog-post-' + Date.now();\n\n// SEO-freundlichen Slug generieren\nconst slug = title\n  .toLowerCase()\n  .replace(/ä/g, 'ae').replace(/ö/g, 'oe').replace(/ü/g, 'ue').replace(/ß/g, 'ss')\n  .replace(/[^a-z0-9\\s-]/g, '')\n  .replace(/\\s+/g, '-')\n  .replace(/-+/g, '-')\n  .replace(/^-|-$/g, '')\n  .substring(0, 65);\n\nconst filename = slug + '.md';\nconst contentB64 = Buffer.from(markdown).toString('base64');\n\n// Ursprüngliche Topic-Daten aus dem vorherigen Schritt weiterleiten\nconst prev = $('Themen in Items aufteilen').item.json;\n\nreturn [{ json: {\n  rank: prev.rank,\n  topic: prev.topic,\n  category: prev.category,\n  filename,\n  slug,\n  contentB64,\n  markdown,\n  tokensUsed: response.usage ? response.usage.total_tokens : 0\n} }];"
      },
      "name": "Markdown & Slug aufbereiten",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2160, 300]
    },
    {
      "parameters": {
        "jsCode": "// Veröffentlichungszeitpunkt berechnen\n// rank 0 → sofort\n// rank 1 → morgen, 16–22 Uhr, zufällige Minute\n// rank 2 → übermorgen, 16–22 Uhr, zufällige Minute\nconst rank = $json.rank || 0;\nlet publishAt;\n\nif (rank === 0) {\n  // Sofort veröffentlichen\n  publishAt = new Date().toISOString();\n} else {\n  const d = new Date();\n  d.setDate(d.getDate() + rank); // Tag +1 oder +2\n  const hour = 16 + Math.floor(Math.random() * 7); // 16, 17, 18, 19, 20, 21 oder 22 Uhr\n  const minute = Math.floor(Math.random() * 60);\n  d.setHours(hour, minute, 0, 0);\n  publishAt = d.toISOString();\n}\n\nreturn [{ json: { ...$json, publishAt, publishMode: rank === 0 ? 'immediate' : 'scheduled' } }];"
      },
      "name": "Veröffentlichungszeitplan",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2400, 300]
    },
    {
      "parameters": {
        "resume": "specificTime",
        "dateTime": "={{ $json.publishAt }}"
      },
      "name": "Warten bis Veröffentlichung",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [2640, 300],
      "webhookId": "blog-publish-wait"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.github.com/repos/PiefkePaul/scholz-cloud-website/actions/workflows/publish-blog.yml/dispatches",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Accept", "value": "application/vnd.github+json" },
            { "name": "X-GitHub-Api-Version", "value": "2022-11-28" }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "ref", "value": "main" },
            {
              "name": "inputs",
              "value": "={{ JSON.stringify({ filename: $json.filename, content_b64: $json.contentB64 }) }}"
            }
          ]
        },
        "options": {}
      },
      "name": "GitHub – Blog veröffentlichen",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [2880, 300],
      "credentials": {
        "httpHeaderAuth": { "name": "GitHub PAT" }
      }
    },
    {
      "parameters": {
        "jsCode": "const statusCode = $response?.statusCode || $input.first().json?.status;\nconst success = statusCode === 204 || statusCode === 200;\nconst item = $input.first().json;\n\nconst logEntry = {\n  status: success ? 'published' : 'error',\n  rank: item.rank,\n  publishMode: item.publishMode,\n  publishAt: item.publishAt,\n  filename: item.filename,\n  slug: item.slug,\n  category: item.category,\n  tokensUsed: item.tokensUsed,\n  url: 'https://www.scholz-cloud.de/blog/' + item.slug + '/'\n};\n\nif (success) {\n  console.log('[Blog Publisher] Veröffentlicht:', JSON.stringify(logEntry));\n} else {\n  console.error('[Blog Publisher] Fehler:', JSON.stringify(logEntry));\n}\n\nreturn [{ json: logEntry }];"
      },
      "name": "Status loggen",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3120, 300]
    }
  ],
  "connections": {
    "Alle 3 Tage": {
      "main": [[
        { "node": "Google Trends DE", "type": "main", "index": 0 },
        { "node": "Google News – KI & AI", "type": "main", "index": 0 },
        { "node": "Google News – IT & Nischen", "type": "main", "index": 0 },
        { "node": "Hacker News Top Stories", "type": "main", "index": 0 }
      ]]
    },
    "Google Trends DE": {
      "main": [[{ "node": "RSS Feeds zusammenführen", "type": "main", "index": 0 }]]
    },
    "Google News – KI & AI": {
      "main": [[{ "node": "RSS Feeds zusammenführen", "type": "main", "index": 1 }]]
    },
    "Google News – IT & Nischen": {
      "main": [[{ "node": "RSS Feeds zusammenführen", "type": "main", "index": 2 }]]
    },
    "Hacker News Top Stories": {
      "main": [[{ "node": "RSS Feeds zusammenführen", "type": "main", "index": 3 }]]
    },
    "RSS Feeds zusammenführen": {
      "main": [[{ "node": "RSS Artikel extrahieren", "type": "main", "index": 0 }]]
    },
    "RSS Artikel extrahieren": {
      "main": [[{ "node": "Claude – Top 3 Themen auswählen", "type": "main", "index": 0 }]]
    },
    "Claude – Top 3 Themen auswählen": {
      "main": [[{ "node": "Themen in Items aufteilen", "type": "main", "index": 0 }]]
    },
    "Themen in Items aufteilen": {
      "main": [[{ "node": "OpenAI Prompt vorbereiten", "type": "main", "index": 0 }]]
    },
    "OpenAI Prompt vorbereiten": {
      "main": [[{ "node": "OpenAI – Artikel verfassen", "type": "main", "index": 0 }]]
    },
    "OpenAI – Artikel verfassen": {
      "main": [[{ "node": "Markdown & Slug aufbereiten", "type": "main", "index": 0 }]]
    },
    "Markdown & Slug aufbereiten": {
      "main": [[{ "node": "Veröffentlichungszeitplan", "type": "main", "index": 0 }]]
    },
    "Veröffentlichungszeitplan": {
      "main": [[{ "node": "Warten bis Veröffentlichung", "type": "main", "index": 0 }]]
    },
    "Warten bis Veröffentlichung": {
      "main": [[{ "node": "GitHub – Blog veröffentlichen", "type": "main", "index": 0 }]]
    },
    "GitHub – Blog veröffentlichen": {
      "main": [[{ "node": "Status loggen", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataSuccessExecution": "all",
    "saveDataErrorExecution": "all"
  },
  "staticData": null,
  "tags": [{ "name": "blog-automation" }],
  "meta": {
    "templateId": "scholz-cloud-blog-publisher-v2",
    "instanceId": ""
  }
}
